.mobile{
  &.backgroundAnimation {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    cursor: pointer;
  }
  
  
  &.backgroundAnimation.animation{
    --color1: rgba(0, 0, 0, 1)!important;
    --color2: rgba(0, 0, 0, 1)!important;
    --color3: rgba(0, 0, 0, 1)!important;
    --color4: rgba(0, 0, 0, 1)!important;
    --color5: rgba(0, 0, 0, 1)!important;
    transition: --color1 --color2 --color3 --color4 --color5 10s ease-in-out;
    animation-fill-mode: forwards;
  }

  .icon1_box {
    position: absolute;
    left: 50%;
    top: 300px;
    width: 60%;
    transform: translateX(-50%);
    height: 75px;
    overflow: visible;
  }
  .icon1 {
    width: 100%;
    height: 100%;
  }
  .icon2_box {
    position: absolute;
    left: 50%;
    top: 300px;
    width: 30%;
    height: 224px;
    overflow: visible;
  }
  .icon2 {
    width: 100%;
    height: 100%;
  }
  .icon3_box {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-100%);
    width: 30%;
    height: 224px;
    overflow: visible;
  }
  .icon1_box.animation {
    animation: iconAnimation 1.6s ease-in-out;
    animation-fill-mode: forwards;
  }
  .icon2_box.animation {
    animation: iconAnimation 1.6s ease-in-out;
    animation-fill-mode: forwards;
  }
  .icon3_box.animation {
    animation: iconAnimation 1.6s ease-in-out;
    animation-fill-mode: forwards;
  }
  .icon3 {
    width: 100%;
    height: 100%;
  }
  
  /* 826 715 */
  .wallpapersden {
    background-image: url('/wallpapersden2.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    -webkit-mask-image: url('/svg/frame12.svg');
    mask-image: url('/svg/frame12.svg'); 
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  
  .wallpapersden.animation {
    animation: wallpapersden_mobile 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  .wallpapersden.animation_opacity {
    animation: wallpapersdenOpacityMobile 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}